header{
  height: 40px;
  background-color: rgba(54, 162, 235, 0.3);
  color:black;
  text-align: center;
  font-size: 2em;
}

table{
    border-collapse: collapse
  }
  
  td{
    border: 1px solid black;
    padding: 10px;
  }